body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF2800;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#titel{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px ;
}

nav{
    background-color: black;
    
}

a{
    display: block;
    text-align: center;
    
}

a:link{
    color: yellow;
    text-decoration: none;
}

a:visited{
    color: yellow;
}

a:hover{
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
}

li{
    float: left;
    margin-right: 20px ;
    margin-left: 20px;
    
}

ul{
    overflow: hidden;
}

#ForzaFerrari{
    text-align: center;
    color: white;
    background-color: black;
}

#tifosi{
    max-width: 800px;
    
}

.column {
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row{
  display: flex;
}

.drivers{
    height: 800px;
}

.driverstxt{
    text-align: center;
    margin-left: 50px;
    color: white;
}

footer{
    background-color: white;
}

#partners{
    text-align: center;
}

#partnersimg{
    max-width: 100%;
}