@font-face {
    font-family: "FerroRosso" ;
    src: url(Font/FerroRosso.ttf);
}

body{
    font-family: "FerroRosso";
    background-color: #FF2800;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#titel{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0px ;
    padding-left: 0;
    padding-right: 1rem;
    margin-left: 0;
    letter-spacing: 2px;
    font-size: 3rem;
}

#Ferrari-naam{
    float: left;
    width: 150px;
    height: 100px;
    margin-left: 50px;
    margin-top: 1.6rem;
}

nav{
    background-color: black;
    margin: 0;
}

a{
    display: block;
    text-align: center;
}


a:link{
    color: yellow;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0;
}

a:visited{
    color: yellow;
    letter-spacing: 2px;
    font-size: 2rem;
}

a:hover{
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 2.1rem;
}

li{
    float: left;
    margin-right: 20px ;
    margin-left: 20px;
    
}

ul{
    overflow: hidden;
}

#OnzeDrivers{
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    padding-top: 15px ;
    padding-bottom: 15px;
}


#ForzaFerrari{
    text-align: center;
    color: white;
    background-color: black;
    letter-spacing: 2px;
    font-size: 2rem;
}

#tifosi{
    max-width: 800px;
    
}

.column {
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row{
  display: flex;
}

.Drivers{
    height: 1500px;
}

.Driverstxt{
    text-align: center;
    color: white;
    background-color: black;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    letter-spacing: 2px;
    font-size: 2rem;
    
}

.DriverInfo{
    background-color: black;
    color: yellow;
    margin: 0;
    padding: 20px;
    padding-bottom: 2rem;
    letter-spacing: 2px;
    font-size: 1.85rem;
    list-style-type: none;
}

li span {
  position: relative;
  left: -10px;
}

#Story{
    text-align: center;
    background-color: black;
    color: yellow;
    letter-spacing: 2.5px;
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.History{
    color: white;
    background-color: black;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 1rem;
}

.HistoryT{
    color: yellow;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

#HistoryB{
    color: white;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 3rem;
}


footer{
    background-color: white;
}

#partners{
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
    padding-top: 3rem;
    letter-spacing: 2px;
    font-size: 2rem;
}

#partnersimg{
    width: 155.5rem;
    text-align: center;
    
}